/* Planet8 General */
.p8-checkout-img {
	text-align: center;
	width: 100%;
}

.p8-checkout-img img {
	margin-left: auto;
	margin-right: auto;
}

.p8-checkout-txt {
	text-align: center;
	width: 100%;
}

.p8-chrome-msg {
	padding-top: 20px;
	text-align: center;
	width: 100%;
}

/* Payment Gateway Dependent */
#nice_layer, #bg_layer {
	height: 100% !important;
}

#nice_layer embed {
	height: 100% !important;
}